textarea {
    min-height: 400px;
}

.emails {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 12px 10px 0px 5px;
}

.emails:hover {
    cursor: pointer;
    background-color: #cecee1 !important;
}

.emails--recipients {
    font-weight: bold;
}

.emails--timestamp {
    text-align: end;
    color: #6c6c6c;
}

.body {
    white-space: pre-wrap;
    display: inline;
}